---
title: Blog
layout: base.html
style: blog/index.css
---
<header><div>
  <h1>The BLOG</h1>
  <p>Public writing archive</p>
</div></header>

<main>
  {% for year, zodiac in blog.index.years | dictsort | reverse %}
  <section>
    <h2>
      <span>{{ year }}</span>
      <a href="{{ blog.index.url }}{{ year }}/"><img src="{{blog.index.icon}}{{year}}.webp" alt="The {{ zodiac }}, zodiac animal of {{ year }}"></a>
    </h2>
    <nav>
      {% for i in range(0,12) %}
      <a href="{{ blog.index.url }}{{ year }}/{{ i+1 }}/">{{ blog.index.months[i] }}</a>
      {% endfor %}
    </nav>
  </section>
  {% endfor %}
</main>
