---
title: Blog
layout: base.html
style: blog/index.css
---
<header>
  <h1>the blog</h1>
  <p>Writings, photos, and daily updates</p>
</header>

<main>
  {% for year, zodiac in blog.index.years | dictsort | reverse %}
  <section>
    <h2><a href="{{ blog.index.url }}{{ year }}/"><img src="{{blog.index.icon}}{{year}}.webp" alt="The {{ zodiac }}, zodiac animal of {{ year }}"></a></h2>
    <nav>
      {% for i in range(1,13) %}
      <a href="{{ blog.index.url }}{{ year }}/{{ i }}/">{{ i }}</a>
      {% endfor %}
    </nav>
  </section>
  {% endfor %}
</main>
