:root {
  --black: #0D1E2C;
  --gray-1: #376FA0;
  --gray-2: #5CB3BE;
  --white: #F2CF9F;
  --link-active: #7C1581;
  --link: #243C85;
  --accent-1: #E4C44A;
  --accent-2: #759F3B;
  --accent-3: #376FA0;
}

html {
  background-color: var(--white); color: var(--black);
  font-family: sans-serif;
  body { margin:0; }
}
p { margin: 0; }
q {
  display: block; margin: 1rem 0 1rem 2rem;
}
a { color: var(--link); }
a:visited, a:active { color: var(--link-active); }

footer {
  background-image: url("../img/2x/footer.webp");
  background-repeat: repeat-x; background-size: contain;
  display: flex; flex-direction: row;
  &::before {
    content: ''; display: block; position: absolute;
    top: -1rem; left: -0.5rem;
    width: calc(100% + 0.5rem); height: 1rem;
    background-image: url("../img/2x/footer-wave.webp");
    background-repeat: repeat-x; background-size: contain;
  }
  padding: 1rem; position: relative; gap: 0.5rem;
  p { color: var(--white); }
  & > p:first-child { flex-grow: 1; }
}

 @media screen and (max-width: 22rem) {
  footer {
    flex-direction: column;
    & > p:first-child { margin-bottom: 1rem; }
   }
}
