#headerwrapper {
  background-image: url("../img/index/sky.webp");
  background-repeat: repeat-x; background-size:auto 90%;
  min-height: 30rem; padding: 2rem 2rem 13rem; position: relative;
  display: flex; align-items: center; justify-content: center;
  &::after {
    content: ''; display: block; width: 100%; height: 11rem;
    background-image: url("../img/index/mountains.webp");
    position: absolute; bottom: 0;
  }
}

main {
  background-image: url("../img/grass.webp");
  padding: 2rem 2rem 4rem; display: flex; flex-direction: column; gap: 1rem;
}

#beach {
  height: 20rem; flex-shrink: 0; position: relative;
  background-image: url("../img/index/shore.webp");
  background-repeat: repeat-x; background-size:auto 100%;
  &::after {
    content: '';  width: 100%; height: 2.75rem;
    background-image: url("../img/index/footer-sand.webp");
    background-repeat: repeat-x; background-size:auto 100%;
    position: absolute; top: -2.75rem;
  }
}

body footer { margin-top: 0;}
/* Tablet view */
@media screen and (min-width: 40rem) {
  main { padding: 2rem calc(10% - 1rem) 4rem; }
}

/* Desktop view */
@media screen and (min-width: 67rem) {
  main { padding: 2rem calc(20% - 1rem) 5rem; }
}
