header {
  background-image: url("../img/2x/sky.webp");
  background-repeat: repeat-x; background-size: contain;
  height: 80vh; display: flex;
  h1 { margin: 0;}
}

main {
  background-image: url("../img/2x/grass.webp");
}
