header {
  background-image: url("../img/2x/sky.webp");
  background-repeat: repeat-x; background-size: cover;
  @media screen and (min-width: 10rem) { background-size: contain; }
  height: 40rem; display: flex;
  h1 { margin: 0;}
}

main {
  background-image: url("../img/2x/grass.webp");
  background-size: contain; padding: 1rem 1rem 1rem;
  & > *:first-child { margin-top: 0; }
  section {
    background-image: url("../img/2x/sand.webp");
    background-size: contain; border-radius: 1rem;
    margin: 1rem 0; padding: 1rem;
  }

}

#beach {
  margin-bottom: -1rem; padding-bottom: 1rem; width: 100%; height: 5rem;
  background-image: url("../img/2x/sand.webp");
  background-size: contain;
}
@media screen and (min-width: 10rem) {
  header { background-size: contain; }
}
