#headerwrapper {
  background-image: url("../img/index/sky.webp");
  background-repeat: repeat-x; background-size:auto 90%;
  min-height: 30rem; padding: 2rem 2rem 13rem; position: relative;
  display: flex; align-items: center; justify-content: center;
  &::after {
    content: ''; display: block; width: 100%; height: 11rem;
    background-image: url("../img/index/mountains.webp");
    position: absolute; bottom: 0;
  }
}

main {
  background-image: url("../img/grass.webp");
  padding: 2rem 2rem 4rem; display: flex; flex-direction: column; gap: 1rem;
}

#beach {
  max-height: 30rem; flex-shrink: 0; position: relative;
  background-image: url("../img/index/shore.webp");
  background-repeat: repeat-x; background-size:auto 100%;
  &::before {
    content: '';  width: 100%; height: 4rem;
    background-image: url("../img/index/footer-sand.webp");
    background-repeat: repeat-x; background-size:auto 100%;
    position: absolute; top: -4rem;
  }
  &>a {
    height: auto; max-width: 16rem;
    display: block; position: relative;
    padding: 0 1rem;
  }
  #fishing { margin-left: auto; top: -2.5rem; }
  #liferaft { max-width: 8rem; left: 1rem; top: -2rem; padding-right: 2rem;}
}

body footer { margin-top: 0;}
/* Tablet view */
@media screen and (min-width: 40rem) {
  main { padding: 2rem calc(10% - 1rem) 4rem; }
  #beach { max-height: 25rem; }
  #beach > #fishing { max-width: 20rem; right: 8%; top: -3rem;}
  #beach > #liferaft { max-width: 10rem; left: 8%; top: -12rem;}
}

/* Desktop view */
@media screen and (min-width: 67rem) {
  main { padding: 2rem calc(20% - 1rem) 5rem; }
  #beach > #fishing { max-width: 22rem; right: 20%;}
  #beach > #liferaft { max-width: 12rem; left: 20%; top: -15rem;}
}
