<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <title>{{ title }} | sundial.city</title>
    <link rel="stylesheet" href="/public/css/global.css">
    {% if style %}
    <link rel="stylesheet" href="/public/css/{{ style }}">
    {% endif %}
    {% if page.url == "/" %}
    <link href="https://github.com/autowattage" rel="me"/>
    <link href="https://twitter.com/autowattage" rel="me"/>
    {% endif %}

  </head>

  <body>
    <div>
      {{ content }}
    </div>
    {% include "./partials/footer.html" %}
  </body>
</html>
