@import 'colors';

.btnexpand {
  display: flex; gap: var(--padding);
  justify-content: center; height: 5rem;
  a {
    flex-grow: 0; display:flex;
    text-align: center; justify-content: center;
    flex-direction: column; aspect-ratio: 1/1;
    background-color: $lightgray; color: $black; padding: var(--padding);

    svg {width: 2rem; height: 2rem; flex-shrink: 0; margin: 0 auto;}
    p {flex-grow: 0; margin: 0;}
    &:nth-child(1) {background-color: $yellow;}
    &:nth-child(2) {background-color: $green;}
    &:nth-child(3) {background-color: $blue;}
  }
}

// Tablet view
@media screen and (min-width: 25rem) {
  .btnexpand a { padding: calc(var(--padding) * 2); }
}
// Desktop view
@media screen and (min-width: 40rem) {
  .btnexpand {
    a {
      p { display: none; }
      &:hover {
        padding: 0 calc(var(--padding) * 5.5);
        p {display: inline-block;}
      }
    }
  }
}
// Desktop view
@media screen and (min-width: 40rem) { .btnexpand {height: 6rem;} }

// Desktop Extended view
@media screen and (min-width: 55rem) { .btnexpand {height: 7rem;} }
