$white: #dce5e6;
$light-gray: #a2afb0;
$dark-gray: #32484d;
$black: #0b2024;
$orange: #db3704;
$yellow: #f0ae13;
$green: #85ab0a;
$blue: #038f9e;

html {
  background-color: $white;
  font-family: sans-serif;
  img { object-fit: cover; display: block; width: 100%; height: 100%; }
  body { margin: 0; }
  svg {width: 100%; height: auto; aspect-ratio: 1 / 1;}
}
