@import 'colors';

.imggallery {
  position: relative;
  img {
    height: 100%;
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - var(--mp3-height) - var(--padding)),
      calc(100% - var(--mp3-height) * 2 - var(--padding) * 2) calc(100% - var(--mp3-height) - var(--padding)),
      calc(100% - var(--mp3-height) * 2 - var(--padding) * 2) 100%,
      0 100%
    );
  }
  div {
    display: flex; gap: var(--padding); 
    position: absolute; bottom: 0; right: 0;
    justify-content: flex-end;
    button { 
      width: var(--mp3-height); height: var(--mp3-height);
      background-color: $red; border: none;
      svg {height: 100%;}
      &:nth-child(2) {background-color: $green;}
    }
  }
}
