@import 'varsindex';
@import 'colors';

header {
  height: var(--header-height);
  img { clip-path: polygon(
    0 0, 100% 0, 100% 100%,
    calc(100% - var(--header-offset)) 100%,
    calc(100% - var(--mp3-height) - var(--padding) - var(--header-offset)) calc(100% - var(--mp3-height) - var(--padding)),
    0 calc(100% - var(--mp3-height) - var(--padding)));
  }
  aside {
    position: relative; bottom: var(--mp3-height); margin-left: var(--padding);
    background-color: $lightgray; height: var(--mp3-height); width: calc(100% - var(--header-offset));
    clip-path: polygon(
      0 0,
      calc(100% - var(--mp3-height) - var(--padding)*2.5) 0,
      calc(100% - var(--padding)*2.5) 100%,
      0 100%);
    display: flex;
    button {
      aspect-ratio: 1/1; border: 0;
      svg {height: 100%; color: $black;}
      &:nth-child(1) {background-color: $blue;}
      &:nth-child(2) {background-color: $yellow;}
      &:nth-child(3) {background-color: $green;}
    }
    marquee {
      margin: auto 0 auto var(--padding);
      flex-grow: 1; text-wrap:nowrap;
    }
  }
  #audioenable {
    position: absolute; top: 0; right: 0;
    width: calc(var(--mp3-height) + var(--padding) * 2.5); aspect-ratio: 1/1; border: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%); background-color: $white;
    svg {
      position: absolute; top: calc(var(--padding) / 2); right: calc(var(--padding) / 2);
      width: calc(var(--mp3-height) / 2); color: $blue;
    }
  }
  h1 {
    margin: 0; color: $white; font-size: var(--h1size);
    position: absolute; top: calc(var(--header-height) - var(--h1size) - var(--mp3-height) - var(--padding) * 2); left: .25rem;
  }
}

// Desktop view
@media screen and (min-width: 50rem) {
  header {
    img { clip-path: polygon(
      0 0, 100% 0, 100% 100%,
      calc(100% - (100% - var(--desktopwidth))/2 - var(--header-offset)) 100%,
      calc(100% - (100% - var(--desktopwidth))/2 - var(--header-offset) - var(--mp3-height) - var(--padding)) calc(100% - var(--mp3-height) - var(--padding)),
      0 calc(100%  - var(--mp3-height) - var(--padding)),
      //calc((100% - var(--desktopwidth))/2 - var(--padding)) calc(100%  - var(--mp3-height) - var(--padding)),
      //calc((100% - var(--desktopwidth))/2 - var(--padding)) 100%,
      //0 100%
      );
    }
    aside {
      width: calc(var(--desktopwidth) - var(--header-offset) + var(--padding));
      left: calc((100% - var(--desktopwidth))/2 - var(--padding));
    }
  }
}
