$mp3-height: 2rem;
$header-height: 15rem;
$padding: .5rem;

header {
  border: 1px solid black;
  height: $header-height;

  img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - $mp3-height - $padding) calc(100% - $mp3-height - $padding), 0 calc(100% - $mp3-height - $padding));
  }
  #musicplayer {
    position: relative; bottom: $mp3-height; left: 0;
    background-color: gray; height: $mp3-height;
    clip-path: polygon(0 0, calc(100% - $mp3-height - $padding*1.5) 0, calc(100% - $padding*1.5) 100%, 0 100%);
    display: flex;
    button {
      aspect-ratio: 1/1; border: 0;
      svg {height: 100%;}
      &:nth-child(1) {background-color: blue;}
      &:nth-child(2) {background-color: red;}
      &:nth-child(3) {background-color: purple;}
    }
    marquee {margin: auto 0 auto $padding; flex-grow: 1; text-wrap:nowrap;}
  }
  #audioenable {
    position: absolute; top: 0; right: 0;
    width: $mp3-height + $padding*1.5; height: $mp3-height + $padding*1.5; border: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    svg {
      position: absolute; top: $padding/2; right: $padding/2;
      width: $mp3-height/2;
    }
  }
  h1 {
    margin: 0; color: white; font-size: 3rem;
    position: absolute; top: $header-height - 6.5rem - $padding; left: .25rem;
  }
}
/* Tablet view */
/* Desktop view */
