@use 'sass:math';
@import 'varsindex';
@import 'colors';

main {
  margin: $padding auto 0; padding: $padding 0;
  display: flex; flex-direction: column; gap: $padding;
  background-color: $black; color: $white;

  #landing {
    display: flex;
    > a {
      background-color: $red; flex-grow: 1; margin-right: -$landing-gap + $padding;
      clip-path: polygon(0 0, 0 100%, calc(100% - $landing-gap) 100%, 100% 0);
    }
    nav {
      display: flex; flex-direction: column;
      text-align: right;
      width: $sitenav-width;
      clip-path: polygon($landing-gap 0, 0 100%, 100% 100%, 100% 0);
      a {
        padding: $padding; color: $black;
        &:nth-child(1) {background-color: $yellow;}
        &:nth-child(2) {background-color: $green;}
        &:nth-child(3) {background-color: $blue;}
      }
    }
  }

  #art {
    display: flex; flex-direction: column; gap: $padding;
    .imggallery img {height: 10rem;}
    nav {
      display: flex; gap: $padding;
      justify-content: center;
      a {
        height: 4rem; aspect-ratio: 1/1; flex-grow: 0; display:flex;
        background-color: $lightgray; color: $black; padding: $padding;
        svg {width: 2rem; height: 2rem; margin: auto;}
        p {
          flex-grow: 1; margin: auto $padding;
          display: none;
        }
        &:hover {
          flex-grow: .5;
          p {display: inline-block;}
        }
        &:nth-child(1) {background-color: $yellow;}
        &:nth-child(2) {background-color: $green;}
        &:nth-child(3) {background-color: $blue;}
      }
    }
  }

  #blog {
    display: flex; gap: $padding*2; flex-direction: column;
    max-width: 90%; margin: auto;
    transform: skew(5deg);
    nav {
      display: flex; gap: $padding*1.5;
      margin-left: $padding; flex-wrap: wrap;
      a {
        position: relative;
        flex-basis: 42%; flex-grow: 1; color: $black;
        background-color: $green; padding: $padding/2 $padding;
        &:nth-child(1) {
          background-color: $yellow;
          &::after, &::before {background-color: $green;}
        }
        &:nth-child(3) {
          background-color: $blue;
          &::after, &::before {background-color: $purple;}
        }
        &:hover {
          right: $padding/3;
          top: $padding/3;
          &::before {
            width: $padding/1.5;
            left: -$padding/1.5; top: $padding/3;
          }
          &::after {
          height: $padding/1.5;
          top: 100%; left: -$padding/3;
          }
        }
        &:active {
          right: $padding/math.hypot(1,1);
          top: $padding/math.hypot(1,1);
          &::before {
            width: $padding/4;
            left: -$padding/4; top: $padding/8;
          }
          &::after {
          height: $padding/4;
          top: 100%; left: -$padding/8;
          }
        }
      }
      a::before, a::after {
        content:""; display: block; position: absolute;
        background-color: $blue;
      }
      a::before {
        left: -$padding; top: $padding/2;
        width: $padding; height: 100%;
        transform: skew(0, -45deg);
      }
      a::after {
        right: $padding/2; top:100%; 
        height: $padding; width: 100%;
        transform: skew(-45deg, 0);
      }
    }
    #statuscafe {
      background-color: $white; color: $black;
      padding: $padding $padding $padding*3;
      clip-path: polygon(
        0 0,
        0 calc(100% - $padding*2),
        calc(100% - $padding*4) calc(100% - $padding*2),
        calc(100% - $padding*3) 100%,
        calc(100% - $padding*2) calc(100% - $padding*2),
        100% calc(100% - $padding*2),
        100% 0
      )
    }
  }

  #code {
    display: flex; gap: $padding;
    width: 100%; aspect-ratio: 1/1;
    nav {
      flex-basis: 25%; flex-grow: 0; flex-shrink: 0;
      display: flex; gap: $padding; flex-direction: column;
      a {
        width: 100%; aspect-ratio: 1/1;
        background-color: red;
      }
    }
    > div {
      display: flex; gap: $padding; flex-direction: column;
      > img {flex-basis: 30%; flex-grow: 0; flex-shrink: 0;}
      .imggallery {
        min-height: 0;
      }
    }
  }
  #personal {
    display: grid; grid-gap: $padding;
    height: 15rem;
    grid: 1fr 2fr / 1fr 1.75fr 1fr;
    > * {
      background-color: red; margin: 0;
      width: 100%; height: 100%;
    }
    h2 {grid-area: 1/2/1/2;}
    a {
      &:nth-child(2) {grid-area: 1/1/span 2/2;}
      &:nth-child(3) {grid-area: 2/2/2/2;}
      &:nth-child(4) {grid-area: 1/3/span 2/3;}
    }
  }
}
