---
title: About
layout: base.html
style: about/index.css
---
<header>
  <h1>WHO AM I</h1>
</header>

<main>
  <section>
    <p>My name is <em>bunnyguy</em> and I'm a tinkering artist!</p>
    <a href="/public/resume.pdf" target="_blank">Download my resume?</a>
  </section>

  <section>
    <h2>Professional jargon</h2>
    <p>Modified about-me from the <a href="https://hackclub.com/team" target="_blank">Hack Club team page</a>:</p>
    <q>Bunnyguy is a 17-year-old Viet-American artist and programmer based in the United States.<br>
       Bunnyguy has previously contributed art for Hack Club programs such as Apocalypse, Counterspell, High Seas, and Summer of Making.</q>
    <p>Back in the summer of 2025, I interned at Hack Club to help organize <a href="https://undercity.hackclub.com/" target="_blank">Undercity</a>, a 4-day hardware hackathon hosted at GitHub HQ. I made a bunch of art assets, including but not limited to:</p>
    <ul>
      <li>Water bottles</li>
      <li>Stickers</li>
      <li>Postcards</li>
      <li>Patches</li>
      <li>PCB (art)</li>
    </ul>
    <p>Krita is my go-to drawing program, but I have experience using Adobe Animate, Blender, Figma, and 3DS Max.</p>
    <h2>Cooler about-me</h2>
    <p>Despite being Vietnamese, I have little fluency; English is my preferred language. For those who are into personality tests, my MBTI is INTP-T.</p>
    <br>
    <p>My favorite number is 153 and my favorite color is yellow. In my free time, I like to draw, study about computers, linux systems, and strange programming languages; occassionally play with hardware, and work on my website. I'd like to specialize in making human-centered robotics, as I find technology a beautiful art medium.</p>
    <br>
    <p>Though I rarely play video games nowadays, I'm especially a big fan of the games Mirror's Edge and Portal 2. Both these games have played a huge part in developing my sense of self.</p>
    <br>
    <p>I stumbled across Neocities back in my freshman year of high school. During animation class, my friend [Name removed for privacy] came up to my desk and introduced me to personal websites. I signed up for an account right on the spot and immediately started making my website.</p>
    <br>
    <script type="text/javascript" src="/public/js/about.js"></script>
    <p>Visit my <a href="/about/listography/">listography</a> for more in-depth information about me, or click this <button type="button" onClick="funfact()">button</button>for a fun fact!</p>
    <p id="funfact"></p>

  </section>

  <section id="contact">
    <h2>contact</h2>
    <a href="https://github.com/autowattage" target="_blank">Github</a>
    <a href="https://neocities.org/site/snipchu" target="_blank">Neocities</a>
    <a href="https://autowattage.itch.io/" target="_blank">itch.io</a>
    <a href="https://artfight.net/~autowattage" target="_blank">Artfight</a>
    <a href="https://youtube.com/@autowattage" target="_blank">Youtube</a>
    <a href="https://twitter.com/autowattage" target="_blank">Twitter</a>
    <a href="mailto:hello@sundial.city">hello@sundial.city</a>
    <p>Hack Clubbers: feel free to send me a message any time to @bunnyguy on Slack!</p>
    <p>For professional inquiries, please mail <a href="mailto:nick@sundial.city">nick@sundial.city</a>.</p>
  </section>
  
  <article>
    <h2>Bunnyguy NOW!</h2>
    <p>{{ now[0]["date"] }}: {{ now[0]["time"] }}</p>
    <ul>
      {% for listname, listitem in now[0]["list"] %}
      <li><span>{{ listname }}</span>: {{ listitem }}</li>
      {% endfor %}
    </ul>
    {% for paragraph in now[0]["paragraphs"] %}<p>{{ paragraph }}</p>{% endfor %}
    <hr>
    <p>See the dedicated <a href="/now/">now page</a> for previous now-updates.</p>
  </article>
</main>
