---
title: About
layout: base.html
style: about/index.css
---
<header>
  <h1>WHO AM I</h1>
</header>

<main>
  <section>
    <p>I'm bunnyguy and I'm a tinkering artist!<br>My favorite number is 153 and my favorite color is yellow.</p>
    <a href="/public/resume.pdf" target="_blank">Download my resume?</a>
  </section>

  <section>
    <h2>Professional jargon</h2>
    <p>Modified about-me from the <a href="https://hackclub.com/team" target="_blank">Hack Club team page</a>:</p>
    <q>Bunnyguy is a 17-year-old Viet-American artist and programmer based in the United States.<br>
       Bunnyguy has previously contributed art for Hack Club programs such as Counterspell, High Seas, and Summer of Making.</q>
    <p>Back in the summer of 2025, I interned at Hack Club to help organize <a href="https://undercity.hackclub.com/ target="_blank"">Undercity</a>, a 4-day hardware hackathon hosted at GitHub HQ.</p>
    <h2>Cooler about-me</h2>
    <p>I don't have any pets, but I own and play with multiple beloved <a href="/tmgc/">Tamagotchi</a>.</p>
    <p>I'm especially a big fan of the games Mirror's Edge and Portal 2. They have completely altered my brain chemistry.</p>
    <br>
    <p>Also see my <a href="/about/listography/">listography</a> for more stuff about me.</p>
    <br>
    <script type="text/javascript" src="/public/js/about.js"></script>
    <p>Click <button type="button" onClick="funfact()">here</button>for a fun fact about me!</p>
    <p id="funfact"></p>

  </section>

  <section id="contact">
    <h2>contact</h2>
    <a href="https://github.com/autowattage" target="_blank">Github</a>
    <a href="https://neocities.org/site/snipchu" target="_blank">Neocities</a>
    <a href="https://artfight.net/~autowattage" target="_blank">Artfight</a>
    <a href="https://youtube.com/@autowattage" target="_blank">Youtube</a>
    <a href="https://twitter.com/autowattage" target="_blank">Twitter</a>
    <a href="mailto:hello@sundial.city">hello@sundial.city</a>
    <p>For professional inquiries, please mail <a href="mailto:nick@sundial.city">nick@sundial.city</a>.</p>
  </section>
  
  <article>
    <h2>Bunnyguy NOW!</h2>
    <p>{{ now[0]["date"] }}: {{ now[0]["time"] }}</p>
    <ul>
      {% for listname, listitem in now[0]["list"] %}
      <li><span>{{ listname }}</span>: {{ listitem }}</li>
      {% endfor %}
    </ul>
    {% for paragraph in now[0]["paragraphs"] %}<p>{{ paragraph }}</p>{% endfor %}
    <hr>
    <p>See the dedicated <a href="/now/">now page</a> for previous now-updates.</p>
  </article>
</main>
