---
title: Listgraphy
layout: base.html
style: about/listography.css
---
<header>
  <h1>LISTOGRAPHY</h1>
  <p>Inspired by <a href="https://stupied.neocities.org/">stupied's</a> listgraphy</p>
</header>

<main>
  {% for listname, content in about.listography %}
  <aside>
    <h2>{{ listname }}</h2>
    <p>Created: {{ content[0].created or content.meta.created }}</p>
    <p>Updated: {{ content[0].updated or content.meta.updated }}</p>
    {% if content[0] %} {# if regular list #}
    <ul>
      {% for i in range(1, content.length) %}
      <li>{{ content[i] }}</li>
      {% endfor %}
    </ul>
    {% elif content.meta.type == "dictionary" %} {# if dictionary #}
    <dl>
      {% for key, value in content %}{% if key != "meta" %}
      <dt>{{ key }}</dt>
      <dd>{{ value }}</dd>
      {% endif %}{% endfor %}
    </dl>
    {% else %} {# else, checklist #}
    <form>
      {% for key, value in content %}{% if key != "meta" %}
      <label><input type="checkbox" disabled=true {% if value %}checked{% endif %}>{{ key }}</label>
      {% endif %}{% endfor %}
    </form>
    {% endif %}
  </aside>
  {% endfor %}
</main>
