body {
  >div {
    padding: 0 1rem 1.5rem;
    header {text-align: center;}
    main {
      display: flex; flex-direction: column; gap: 2rem; margin: auto;
      >section {
        display: flex; flex-direction: column; gap: 1rem;
        h2 {
          text-align: center; margin: 0;
          img { max-width: 90%; max-height: 14rem; width: auto; margin: auto;}
        }
        nav {
          display: flex; flex-wrap: wrap; gap: 1rem;
          width: 75%; margin: 0 auto;
          a {
            flex-basis: 1rem; flex-grow: 1;
            text-align: center; align-content: center;
            padding: 1rem; background-color: red; border-radius: 1rem;
          }
        }
      }
    }
  }
}
/* Tiny-mobile */
@media screen and (max-width: 30rem) {
}

/* Tablet view */
@media screen and (min-width: 40rem) {
  body>div>main>section {
    >nav {width: 60%;}
    >h2>a>img {max-height: 18rem;}
  }
}

/* Desktop view */
@media screen and (min-width: 67rem) {
  body {
    >div>main {
      width: 65%;
      >section {
        flex-direction: row; max-height: 18rem;
        h2 {
          aspect-ratio: 1/1;
          >a>img {max-height: 100%; max-width: 100%;}
        }
        nav {margin: 0;}
      }
    }
  }
}
