---
import Homepage from '../layouts/Homepage.astro';
import '../css/about.css';
/* images */
import { Image } from 'astro:assets';
const images = import.meta.glob("../assets/**/*.{png,jpg,jpeg,gif}");
---
<Homepage title="bunnyguy.foo">
  <header>
    <Image src={images["../assets/whoami.png"]()} alt="Bunnyguy trapped in a blue box."/>
    <a href="."><h1>whoami</h1></a>
  </header>
  <div id="main">
    <div>
      <p>Bunnyguy, also known as "snipchu" online, is an US-based artist and programmer.</p>
    </div>
  </div>
</Homepage>
