---
import Homepage from '../layouts/Homepage.astro';
import '../css/about.css';
/* images */
import { Image } from 'astro:assets';
const images = import.meta.glob("../assets/**/*.{png,jpg,jpeg,gif}");
---
<Homepage title="bunnyguy.foo">
  <header>
    <a href="."><h1>whoami</h1></a>
  </header>
  <div id="main">
    <div>
      <p>Bunnyguy, also known as "snipchu" online, is an US-based artist and programmer.</p>
      <p>You can find Bunnyguy on the internet at:</p>
    </div>
    <ul id="social-links">
      <li><a href="https://github.com/snipchu">Github</a></li>
      <li><a href="https://x.com/snipchu">Twitter</a></li>
      <li><a href="https://www.youtube.com/@snipchu">Youtube</a></li>
      <li><a href="https://snipchu.itch.io/">itch.io</a></li>
    </ul>
    <p>For professional inquiries, please <a href="mailto:tuyet.m.do326@gmail.com">send an e-mail to bunnyguy</a>.</p>
  </div>
</Homepage>
