---
import Head from '../components/Head.astro';
import Sidenav from '../components/Sidenav.astro';
import '../css/global.css';
import '@fontsource/be-vietnam-pro';

import { Image } from 'astro:assets';
//const images = import.meta.glob("../assets/**/*.{png,jpg,jpeg,gif}");
---
<html lang="en">
  <Head title="bunnyguy.foo"/>
  <body>
    <Sidenav/>
    <p>Hello world</p>
  </body>
</html>
