---
import Head from '../components/Head.astro';
import IndexHeader from '../components/IndexHeader.astro';
import ImageGallery from '../components/ImageGallery.astro';
import ButtonExpand from '../components/ButtonExpand.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.scss';
import '../styles/footer.scss';
import '../styles/index.scss';

import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import type ButtonExpand from '../components/ButtonExpand.astro';
const images = import.meta.glob("../assets/**/*.{png,jpg,jpeg,gif}");
---

<html lang="en">
	<Head/>
  <body>

    <header>
      <Image src={images["../assets/indexheader.jpg"]()} alt="Header photo"/>
      <h1>15v 3a</h1>
      <aside>
        <button type="button"><Icon name="tdesign:backward-filled"/></button>
        <button type="button"><Icon name="tdesign:play"/></button>
        <button type="button"><Icon name="tdesign:forward-filled"/></button>
        <marquee>Song title - Artistlksd flsdkfjldklk</marquee>
      </aside>
    </header>

    <main>
      <div><section id="landing">
        <a href="">whoami</a>
        <nav>
          <a href="">site</a>
          <a href="">sitemap</a>
          <a href="">resources</a>
        </nav>
      </section>
      <section id="art">
        <ButtonExpand
          icon1="tdesign:edit-filled" text1="Artwork"
          icon2="tdesign:home-filled" text2="Characters"
          icon3="tdesign:work-filled" text3="Porfolio"
        />
        <ImageGallery imgsrc="../assets/indexheader.jpg"/>
      </section></div>
      <div><section id="blog">
        <nav>
          <a href="">txt blog</a>
          <a href="">pix blog</a>
          <a href="">statuscafe</a>
        </nav>
        <div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=snipchu" defer></script>
        <!--<div id="statuscafe"><p>Filler text</p></div>-->
      </section>
      <section id="code">
        <ButtonExpand
          icon1="tdesign:code" text1="Software"
          icon2="tdesign:data" text2="Hardware"
          icon3="tdesign:chat-heart-filled" text3="Misc"
        />
        <div>
          <Image src={images["../assets/bunnyguy-index.jpg"]()} alt="bunnyguy"/>
          <ImageGallery imgsrc="../assets/indexheader.jpg"/>
        </div>
        </section></div>
      <div><section id="personal">
        <h2>shrines</h2>
        <a href="">TMGC</a>
        <a href="">Portal2</a>
        <a href="">Mirror's Edge</a>
      </section></div>
    </main>

    <Footer/>

    <!-- Front UI -->
    <button id="audioenable" type="button" onClick="console.log(1)">
      <Icon name="tdesign:notification"/>
    </button>

	</body>
</html>
