---
import Head from '../components/Head.astro';
import IndexHeader from '../components/IndexHeader.astro';
import ImageGallery from '../components/ImageGallery.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.scss';
import '../styles/footer.scss';
import '../styles/index.scss';

import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
const images = import.meta.glob("../assets/**/*.{png,jpg,jpeg,gif}");
---

<html lang="en">
	<Head/>
	<IndexHeader/>
	<body>
    <main>
      <section id="landing">
        <a href="">whoami</a>
        <nav>
          <a href="">site</a>
          <a href="">sitemap</a>
          <a href="">resources</a>
        </nav>
      </section>
      <section id="art">
        <nav>
          <a href=""><Icon name="tdesign:edit-filled"/><p>Artwork</p></a>
          <a href=""><Icon name="tdesign:home-filled"/><p>Characters</p></a>
          <a href=""><Icon name="tdesign:work-filled"/><p>Portfolio</p></a>
        </nav>
        <ImageGallery imgsrc="../assets/indexheader.jpg"/>
     </section>
      <section id="blog">
        <nav>
          <a href="">txt blog</a>
          <a href="">pix blog</a>
          <a href="">statuscafe</a>
        </nav>
        <div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=snipchu" defer></script>
      </section>
      <section id="code">
        <nav>
          <a href="">software</a>
          <a href="">hardware</a>
          <a href="">misc</a>
        </nav>
        <div>
          <Image src={images["../assets/bunnyguy-index.jpg"]()} alt="bunnyguy"/>
          <ImageGallery imgsrc="../assets/indexheader.jpg"/>
        </div>
      </section>
      <section id="personal">
        <h2>shrines</h2>
        <a href="">TMGC</a>
        <a href="">Portal2</a>
        <a href="">Mirror's Edge</a>
      </section>
		</main>
		<Footer/>
	</body>
</html>
