---
import Empty from '../layouts/Empty.astro';
import '../styles/index.scss';

import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
const images = import.meta.glob("../assets/**/*.{png,jpg,jpeg,gif}");
---
<Empty title="index">
  <!-- Did somebody say paint buckets? -->
  <header>
    <canvas id="headerdraw"></canvas>
    <h1>bunnyguy.foo</h1>
    <div> <!-- if javascript doesnt work -->
      <button type="button"><Icon name="ri:brush-line"/>Art</button>
      <button type="button"><Icon name="ri:computer-line"/>CS</button>
      <button type="button"><Icon name="ri:home-9-line"/>Home</button>
    </div>
  </header>

  <main>
    <section>
      <div>Test... test....<br><a href="/">Test.. test...</a></div>
      <aside>
        <p>Insert link to 88x31 stamp</p>
        <nav><ul>
          <li>Whoami</li>
          <li>Art</li>
          <li>Sitemap</li>
          <li>Website</li>
        </ul><Icon name="ri:arrow-left-down-line"/></nav>
      </aside>
    </section>
    <section>
      <article></article>
      <article></article>
    </section>
  </main>
</Empty>
