---
import Empty from '../layouts/Empty.astro';
---
<Empty title="index">
  <header>
    <h1>bunnguy.foo</h1>
  </header>

  <main>
    <section>
      <aside>
        <p>Insert link to 88x31 stamp</p>
        <ul>
          <li>About</li>
          <li>Sitemap</li>
          <li>Other</li>
        </ul>
      </aside>
  </main>
</Empty>
