---
import '../css/footer.css';
---
<footer>
  <p>© bunnyguy 2025</p>
  <nav>
    <button type="button" onclick="toggledark()"><i class="nf nf-seti-audio"/></button>
    <button type="button" onclick="toggledark()"><i class="nf nf-md-moon_waning_crescent"/></button>
    <a href="/"><i class="nf nf-md-map"/>Sitemap</a>
    <a href="/"><i class="nf nf-md-heart"/>About</a>
  </nav>
</footer>
