---
import '../css/footer.css';
---
<footer>
  <!--
  <button type="button" onclick="toggledark()"></button>
  -->
  <p>© bunnyguy 2025</p>
  <nav>
    <a href="d">sitemap</a>
    <a href="d">about</a>
  </nav>
</footer>
