---
import '../css/footer.css';
---
<footer>
  <div><p>© bunnyguy 2025</p></div>
  <nav>
    <button type="button" onclick="toggledark()"><i class="nf nf-seti-audio"/></button>
    <button type="button" onclick="toggledark()"><i class="nf nf-md-moon_waning_crescent"/></button>
  </nav>
</footer>
