---
import '../styles/imggallery.scss';

import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
const images = import.meta.glob("../assets/**/*.{png,jpg,jpeg,gif}");
interface Props { imgsrc: string; };
const { imgsrc = "../assets/indexheader.jpg" } = Astro.props;
---
<div class="imggallery">
  <Image src={images[imgsrc]()} alt="Featured photo"/>
  <div>
    <button type="button"><Icon name="tdesign:arrow-left"/></button>
    <button type="button"><Icon name="tdesign:arrow-right"/></button>
  </div>
</div>
