---
import '../css/sidenav.css';
/* images */
import { Image } from 'astro:assets';
const images = import.meta.glob("../assets/**/*.{png,jpg,jpeg,gif}");
---
<nav id="sidenav">
  <ul>
    <li><a href="/"><i class="nf nf-md-home"/>Home</a></li>
    <li><a href="/about"><i class="nf nf-md-heart"/>About</a></li>
    <li><a href="/"><i class="nf nf-md-palette"/>Art</a></li>
    <li><a href="/"><i class="nf nf-md-monitor"/>Tech</a></li>
  </ul>
</nav>
