main {
  display: flex; flex-direction: column;
}
header {
  height: 12rem; position: relative;
  background-image: url("../assets/whoami.png");
  background-position: left top;
  background-size: cover;
}
h1 { 
  margin: 0; padding: .25rem .5rem;
  font-size: 3rem; color: var(--white);
  mix-blend-mode: difference; text-decoration: underline;
  position: absolute; top: 0; right: 0;
}

#main {}
#social-links {
  margin: 0; padding: 0; list-style: none;
  display: flex; gap: .5rem; flex-wrap: wrap;
}
#social-links>li {
  background-color: var(--red);
  padding: .5rem 1rem; border-radius: 1rem;
  text-align: center; flex-grow: 1;
}
/* Tablet */
@media screen and (min-width: 35rem) {
  header {height: 15rem;}
  h1 {font-size: 4.5rem;}
}
/* Desktop */
@media screen and (min-width: 55rem) {
  main {flex-direction: row;}
  h1 {right: auto;}
  header {
    height: 100%; max-width: 100%;
    flex-basis: 25rem; border-bottom-left-radius: 1rem;
  }
}
