/* Color palette */
:root {
  --black: #111822;
  --dark-gray: #32484B;
  --light-gray: #AAC1AF;
  --white: #F8FCF2;
  --red: #FF0044;
  --yellow: #FFC800;
  --blue: #0B6CD3;
  --purple: #5900B3;
  --purple-hover: #A50082;
}
/* Nerd Font icons */
@import "https://www.nerdfonts.com/assets/css/webfont.css";
/* Be Vietnam Pro font */
@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../../fonts/BeVietnamPro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../../fonts/BeVietnamPro-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../../fonts/BeVietnamPro-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../../fonts/BeVietnamPro-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
/* Link styling */
a {color: var(--blue);}
a:visited {color: var(--purple);}
a:hover {color: var(--purple-hover);}
a:active {color: var(--red);}
/* Highlight styling */
::selection, ::-moz-selection {
  background-color:var(--blue);
  color: var(--white);
}
html { font-family: "Be Vietnam Pro", sans-serif; }
