header {position:relative; height: 10rem;}
header>img { 
  width: 100%; height: 12rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - 3rem) calc(100% - 3rem), 0 calc(100% - 3rem));
}
h1 {
  padding: .25rem .5rem; margin: 0;
  position: absolute; top: 0; color: var(--red);
  /* In case of different background image
  color: var(--white); mix-blend-mode: difference; */
  text-decoration: underline; font-size: 2.5rem;
}
#intro {
  background-color: var(--light-gray);
  background-image: url("../assets/paper.png");
  width: auto; padding: .5rem;
  padding-right: 2.5rem; box-sizing: border-box;
  clip-path: polygon(0 0, calc(100% - 2.5rem) 0, 100% 2.5rem, 100% 100%, 0 100%);
}
#intro img {width: auto; height: auto;}
#main-wrap {margin: 0 1rem 1rem;}
#main-nav, #main-nav>article, #main-nav div {display: flex; gap: 1rem; flex-direction: column;}
#main-nav * {min-height: 0;}
#main-nav>article {height: 20rem;}
#main-nav>article>a {flex-grow: 1;}
#main-nav div { order: 1; flex-basis:35%; flex-shrink: 0; flex-direction: row; }
#main-nav a:hover {transform: rotate(1deg);}

/* Tablet */
@media screen and (min-width: 35rem) {
  header {height: 12rem;}
  header>img { height: 14rem; }
  h1 {font-size: 3rem;}
}
/* Desktop */
@media screen and (min-width: 55rem) {
  header {height: 16rem;}
  header>img {
    height: 25rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, calc(75% - 10rem) calc(100% - 10rem), 0 calc(100% - 10rem));
  }
  h1 {font-size: 3.5rem; top: 10rem;}
  #intro {
    height: 9rem; bottom: 9rem; width: calc(75% - 1rem);
    clip-path: polygon(0 0, calc(100% - 9rem) 0, 100% 100%, 0 100%);
    padding-right: 9rem;
  }
  #main-nav { height: 25rem; flex-direction: row;}
  #main-nav div {order: 0;}
  #main-nav>article {height: auto;}
}
