header {position:relative; height: 7rem;}
header>img { 
  width: 100%; height: 9rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - 3rem) calc(100% - 3rem), 0 calc(100% - 3rem));
}
h1 {
  padding: .25rem .5rem; margin: 0;
  position: absolute; top: 0; color: var(--yellow);
  mix-blend-mode: difference; text-decoration: underline;
}
#intro {
  background-color: gray;
  width: auto; margin: 0 1rem 0; padding: .5rem;
  padding-right: 2.5rem; box-sizing: border-box;
  clip-path: polygon(0 0, calc(100% - 2.5rem) 0, 100% 2.5rem, 100% 100%, 0 100%);
}
#main-nav, #main-nav>article, #main-nav div {display: flex; gap: 1rem; flex-direction: column;}
#main-nav {margin: 1rem;}
#main-nav * {min-height: 0;}
#main-nav>article {height: 20rem;}
#main-nav div { order: 1; flex-basis:35%; flex-shrink: 0; flex-direction: row; }
#main-nav a:hover {transform: rotate(1deg);}
/* Tablet */
@media screen and (min-width: 35rem) {
  header {height: 8rem;}
  header>img { height: 10rem; }
  h1 {font-size: 2.5rem;}
}
/* Desktop */
@media screen and (min-width: 55rem) {
  header {height: 11rem;}
  header>img {
    height: 20rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, calc(75% - 10rem) calc(100% - 10rem), 0 calc(100% - 10rem));
  }
  h1 {font-size: 3rem; top: 6rem;}
  #intro {
    height: 9rem; bottom: 9rem; width: calc(75% - 2.5rem);
    clip-path: polygon(0 0, calc(100% - 9rem) 0, 100% 100%, 0 100%);
    padding-right: 9rem;
  }
  #main-nav { height: 25rem; flex-direction: row;}
  #main-nav div {order: 0;}
  #main-nav>article {height: auto;}
}
