header {
  background-image: url("/public/img/blue.webp"); color: var(--white);
  padding: 0 1rem; overflow: hidden;
  >div {
    background-image: url("/public/img/sand.webp");
    border-radius: 2rem;
    padding: 1rem; margin: 1rem auto; max-width: 30rem;
    position: relative; margin-bottom: 2rem;
    h1 { text-align: center; padding-top: 0; color: var(--gray-1); font-size: 3rem;}
    >nav {
      display: flex; gap: 0.5rem; flex-wrap: wrap;
      justify-content: center;
      >a {
        background-image: url("/public/img/black.webp");
        padding: 0.5rem 1rem; border-radius: 1rem;
        color: var(--gray-3) !important;
        &:active { background-image: url("/public/img/blue.webp"); }
      }
    }
    &::after {
      content:''; width: 0; height: 0; display: block;
      position: absolute; bottom: -1.5rem; left: calc(50% - 1rem);
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-top: 1.5rem solid var(--gray-3);
    }
  }
  >img {
    max-width: 15rem; margin: 1rem auto 0 auto;
    /* padding-left: 15%; */
  }
}

main {
  background-image: url("/public/img/white.webp");
  #landing {
    padding: 1rem;
    >figure {
      margin: 1rem auto; max-width: 15rem; 
      label { display: inline-block; break-inside: avoid;}
      img, figcaption { display: none; }
      label:has(input[value="nick"]:checked) ~ .nick {
        display: block;
      }
      label:has(input[value="mouse"]:checked) ~ .mouse {
        display: block;
      }
      label:has(input[value="b4g"]:checked) ~ .b4g {
        display: block;
      }
    }
  }
  #inventory {
    img { max-height: 15rem; max-width: 100%; height: auto; width: auto;}
  }
}
/* Large mobile view */
@media screen and (min-width: 30rem) {
}

/* Tablet view */
@media screen and (min-width: 40rem) {
}

/* Desktop view */
@media screen and (min-width: 67rem) {
}
