---
import Head from '../components/Head.astro';
import '../styles/global.scss';

const {title} = Astro.props;
---
<html class="cmyk" lang="en">
  <Head title={title}/>
  <body>
    <slot/>
  </body>
</html>
