---
/* components */
import Head from '../components/Head.astro';
import Sidenav from '../components/Sidenav.astro';
import Footer from '../components/Footer.astro';
/* css styling */
import '../css/global.css';
import '../css/homepage.css';
import '@fontsource/be-vietnam-pro';
/* variables */
const { title } = Astro.props;
---
<html lang="en">
  <Head title={title}/>
  <body>
    <Sidenav/>
    <div id="main-cont">
      <main><slot/></main>
      <Footer/>
    </main>
  </body>
</html>
