body>div {
  main {
    article {
      display: flex; flex-direction: column; gap: 1rem;
    }
  }
}
@media screen and (max-width: 30rem) {
}
@media screen and (min-width: 40rem) {
}
@media screen and (min-width: 67rem) {
}
